table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid black;
}

th,
td {
  text-align: start;
  padding: 8px;
  border: 1px solid black;
  font-size: 14px;
  background-color: rgb(255, 255, 255);
}

th {
  background-color: #016253;
  position: sticky;
  top: 0;
  color: #ffffff;
}

.tr-user {
  width: 100%;
  background-color: #016253;
}

.tr-user:hover {
  background-color: #016253;
}
.dob {
  text-align: center;
}

.checkbox-input {
  width: 24px;
  height: 24px;
  border-radius: 4px;
}

.td-input {
  width: 24px;
  height: 24px;
}
